

#section {
    background-color: white;
    width: 500px;
    height: 200px;
    box-shadow: 3px 3px 3px #a3a0a0;
}

.introBounce {
    animation: introBounce 1s;
}

@keyframes introBounce {
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    100% {
        transform: none;
    } 
}

#info {
    font-style: italic;
    color: crimson;
    font-weight: bold;
    margin-left: 37%;
    margin-right: 0%;
}

.blink {
    animation: info-blink 700ms;
}

@keyframes info-blink {
     0%{
        opacity: 0;
    }
    20%{
        opacity: 100;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}

.fadeUp {
    animation: fadeUp 500ms;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.completed {
    text-decoration: line-through;
    color:darkgray;
    animation: fadeToGray 150ms;
}

@keyframes fadeToGray {
    0% {
        color:  rgb(22, 1, 1);
    }
    25% {
        color:rgb(48, 46, 46);
    }
    50% {
        color:rgb(78, 76, 76);
    }
    75% {
        color:rgb(119, 115, 115);
    }
    100% {
        color:rgb(147, 144, 144);
    }
}

/* Kom ihåg att höjden med "vh" fixade bakgrunden*/

body {
    background-image:linear-gradient( pink, salmon);
    font-family: 'Gudea', sans-serif;
    margin-top:1%;
    margin-left: 40%;
    margin-right: 40%;
    line-height: 1;
    height: 100vh;
    /*background-size:cover;*/
  }

h1 {
    color:black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 31%;
    margin-top: 0px;
    margin-bottom: 15px;   
}

#avklarat {
    font-size: 17px;
    margin-left: 42%;
    margin-right: 15%;
}

#laggTillBtn {
    height: 30px;
    width: 45px;
    font-weight:normal;
    font-size:medium;
    border-width:thin;
    border-radius: 4px;    
}

/* Lärdom efter flera timmar med att inmatningsfältet ska bli blått när det är aktivt: 
webbläsare lägger själv till border (outline) som måste tas bort */

input[type=text]:focus {
    border-color: rgb(53, 109, 240) !important;
    border-width: 2px !important;
    outline:none;
  }

#nyUppgift {
    font-size: larger;
    width: 44%;
    height: 12%;
    color: black;
    margin-left: 23%;
    border-color: rgb(21, 22, 22);
    border-radius: 4px;
    border-width: thin; 
}

#labelInput {
    font-size: larger;
}

p {
    font-size:larger;
}

li {
    display:flex;
    justify-content: center;
    margin-left: -8%;
    width: 500px;
}

li:hover {
    color: black;
    text-decoration: line-through;
}

#listBakgrund {
    background-color:white;
    box-shadow: 3px 3px 3px #a3a0a0;
}

span {
    margin:8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -14px;
    margin-bottom: 35px;
 }














