



/* Richard: nedanstående bounce ser helt rätt ut och funkar. Ibland blir det dock att den bara åker rakt ned
   utan att bounca, kan det bero på webbläsaren. Händer ibland vid reload, men aldrig när jag trycker ctr-s.i VS Code */

/* bounceInDown */

.introBounce{
    animation: introBounce 1s;
}

@keyframes introBounce {
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    100% {
        transform: none;
    }   
}


#info{
    font-style: italic;
    color: crimson;
    font-weight: bold;
    margin-left: 37%;
    margin-right: 0%;
}

.blink{
    animation: info-blink 500ms;
}

@keyframes info-blink {
     0%{
        opacity: 0;
    }
    25%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 100;
    }
   
    100%{
        opacity: 0;
    }
}




.fadeUp{
    animation: fadeUp 500ms;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


body {
    
    /* Jag vill visa att jag förstått att bakgrunden ska vara "linear-gradient". 
    Men när jag kör "uppifrån och ned" blir det blir det 4 likadana fält över sidan. 
    Och anger jag "no-repeat" blir det bara på 1/4 av sidan. Så jag har gjort från vänster till höger för att
    i alla fall göra något */

    background-image:linear-gradient(to left, pink, salmon);
    /*background-repeat: no-repeat;
    background-size:cover;*/

    /* Är det nåt sånt här som behövs?: För att använda leverantörsprefix, lägg bara till 
    två ytterligare background regler med linear-gradient värde prefix med -webkit- och -moz-. 
    De ska också visas före den vanliga regeln utan något leverantörsprefix:*/


    /*background-color:salmon;*/
    font-family: 'Gudea', sans-serif;
    margin-top:1%;
    margin-left: 40%;
    margin-right: 40%;
    line-height: 1;
    background-size:cover; 
  }


  #section{
    background-color: white;
    width: 500px;
    height: 200px;
    /*background: cover;*/
}


h1 {
    color:black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 31%;
    margin-top: 0px;
    margin-bottom: 15px;   
}


#avklarat{
    font-size: 17px;
    margin-left: 42%;
    margin-right: 15%;
}


#laggTillBtn{
    height: 30px;
    width: 45px;
    font-weight:normal;
    font-size:medium;
    border-width:thin;
    border-radius: 4px;    
}


/* Lärdom efter flera timmar med bara detta att inmatningsfältet ska bli blått när det är aktivt: 
webbläsare lägger själv till border som måste tas bort */

input[type=text]:focus {
    border-color: rgb(53, 109, 240) !important;
    border-width: 2px !important;
    outline:none;
  }


#nyUppgift {
    font-size: larger;
    width: 44%;
    height: 12%;

    color: black;
    margin-left: 23%;
    border-color: rgb(21, 22, 22);
    border-radius: 4px;
    border-width: thin; 
}


#labelInput {
    font-size: larger;
}


.completed {
    text-decoration: line-through;
    color:darkgray;
}


span {
   margin:8px;
   /*margin-right:3%;
   margin-left: 7px;*/
   font-size: larger;
   height: 20px;
}


p {
    font-size:larger;
}


li{
    display:flex;
    background-color: white;
    /*position:relative;*/
    /*left: 20px;
    right: 20px;*/
    margin-left: 30%;
    margin-right: 30%;
    /*width: 10%;*/
    width: 300px;
    /*padding: 10px;*/
    /*margin: 0 auto 0 auto;
    /*justify-content: space-between;*/
    /*border: 2px solid black;
    border-radius: 20%;*/
    max-height: 10cm;
}


li:hover{
    /*font-weight: bold;*/
    color: black;
    text-decoration: line-through;
}

#listBakgrund{
    background-color:white;
}




/*.blueBorder{
    color: rgb(71, 102, 239);
    margin-left: 23%;
    border-widths: 30px solid;
    border-color: rgb(53, 109, 240) !important;
    color: rgb(53, 109, 240) !important;
    border-radius: 4px;
    border-width: thin;     
}*/


/*#list {
    color: black; 
    line-height: 2; 
    margin-top: 0px;
    
}*/

/*#list:hover {
    color: crimson;
}*/

/*h1:hover{
    border-radius: 100%;
    color: aqua;
    background-color: blue;
    animation: red-blue-green 5s infinite;
}*/

/*transform: rotate(-4deg);
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20%;
    background-color: crimson;
    transition: border-radius 3s, background-color 5s;*/



/*@keyframes h1-colors {
    0% {
        color:  lightgray;
    }
    25% {
        color: grey;
    }
    50% {
        color: black;
    }
    75% {
        color: grey;
    }
    100% {
        color: lightgray;
    }
}*/

/*@keyframes red-blue-green{
    0%{
        border-radius: 50%;
        background-color: crimson;
    }
    50%{
        border-radius: 0%;
        background-color:blue ;
    }
    100%{
        border-radius: 0%;
        background-color: chartreuse;
    }
}*/
